<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>When you just can't even</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <%= stylesheet_link_tag "style.css" %>
</head>
<body>
  <h1>Tell 'em off when you can't even anymore.</h1>
  <p>When your patience has run thin and you need a colorful way to tell someone off, we can offer you some ideas.</p>
  <label for="select1">What are you looking to express?</label>
  <select id="select1">
    <option value="option1">General anger at the world</option>
    <option value="option2">I want to tell someone off</option>
    <option value="option3">Someone's stupidity is ruining my life</option>
    <option value="option4">None of the above</option>
  </select>
  <div id="fields">
    <input id="them" type="text" placeholder="Their name"></input>
    <input id="from" type="text" placeholder="Your name"></input>
    <button id="submit">Submit</button>
  </div>
  <div id="results">
  </div>
  <footer>
    <div class="card">
      <p>This is where the saved ones will go</p>
      <button>delete</button>
    </div>
  </footer>
</body>
</html>
